//---------------------Layout----------------------
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

//---------------------Colors----------------------
$g-mainBg: rgb(240, 242, 245);

//--------------------Fonts-------------------------
$g-titleFont: 'Montserrat', sans-serif;
$g-titleFontSize: 1.5rem;
$g-textFont: 'Montserrat', sans-serif;
$g-textFontSize: 1rem;

//--------------------Other-------------------------
